<html>
<!-- WdatePicker only can use id -->

<head>
    <link rel="styeSheet" href="My97DatePicker/skin/WdatePicker.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="My97DatePicker/WdatePicker.js"></script>


</head>

<body>
    <div id="app">
        <input type="text" name="" class="Wdate myWd" id="datePick1" v-model="date1"
            @click="clickDate('datePick1', 'date1')" />
        {{test}} <br />
        SelectDate: {{date1}}
        <br />
        <!--  @click="clickDate('dateFor' + i, 'fors.date')"  -->
        <div v-for="(item, i) in fors">
            {{i}}. <input type="text" name="" :id="'dateFor' + i" class="Wdate"
                @click="clickDate2('dateFor' + i,i, 'date')" />
            <br />
            {{item.date}}
            <br />
        </div>
        <br />
        <br />

        <datepicker></datepicker>
    </div>
    <script>
        var myDatepicker = {
            props: '',
            template: '<input type="text" name="" :id="datepickerId" class="Wdate" @click="clickDate" />',
            data: {
                datepickerId: new Date().getTime()
            },
            computed:{
                'datepickerId'() {
                    return this.generateUUID();
                }
            },
            methods: {
                clickDate() {
                    //alert("User Click");
                    var _this = this;
                    WdatePicker({
                        el: targetId,
                        onpicked() {
                            _this.fors[idx][modelName] = $dp.cal.getDateStr();
                        },
                        oncleared() {
                            _this.fors[idx][modelName] = '';
                        },
                    });
                },
                generateUUID() {
                    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                        var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
                        return v.toString(16);
                    });
                }
            }
        };

        var vue = new Vue({
            el: '#app',
            components: {
                'datepicker': myDatepicker,
            },
            data: {
                test: 'test2',
                date1: '',
                fors: [
                    { date: 'A' },
                    { date: 'B' },
                    { date: 'C' },
                ],
                fors2: [
                    { date: 'A' },
                    { date: 'B' },
                    { date: 'C' },
                ]
            },
            methods: {
                clickDate(targetId, modelName) {
                    console.log(modelName);
                    var _this = this;
                    WdatePicker({
                        el: targetId,
                        isShowWeek: true,
                        onpicked() {
                            _this[modelName] = $dp.cal.getDateStr();
                        },
                        oncleared() {
                            _this[modelName] = '';
                        },
                    });
                },
                clickDate2(targetId, idx, modelName) {
                    var _this = this;
                    WdatePicker({
                        el: targetId,
                        isShowWeek: true,
                        onpicked() {
                            _this.fors[idx][modelName] = $dp.cal.getDateStr();
                        },
                        oncleared() {
                            _this.fors[idx][modelName] = '';
                        },
                    });
                }
            }
        });  
    </script>
</body>

</html>