<html>
<!-- WdatePicker only can use id -->

<head>
    <link rel="styeSheet" href="My97DatePicker/skin/WdatePicker.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="My97DatePicker/WdatePicker.js"></script>


</head>

<body>
    <div id="app">
        <input type="text" name="" class="Wdate myWd" id="datePick1" v-model="date1" :value="query.payDate"
            @click="clickDate('datePick1', 'date1')" />
        {{test}} <br />
        SelectDate: {{date1}}
        <br />
        <!--  @click="clickDate('dateFor' + i, 'fors.date')"  -->
        <div v-for="(item, i) in fors">
            {{i}}.<datepicker v-model="item.date"></datepicker><br />
            {{item.date}}
            <br />
        </div>
        <br />
        <br />

        <datepicker v-model="testDate" :show-week="true" :date-format="'yyyy/MM/dd'" :value="query.payDate"></datepicker>
        {{testDate}}


        <p>Parent value: {{parentValue}}</p>
        <child v-model="parentValue"></child>
    </div>
    <script>
        /* <body>
         *      <datepicker v-model="startDate" :show-week="true" :date-format="'yyyy/MM/dd'"></datepicker>
         *      <div v-for="item in arrays">
         *          <datepicker v-model="date"></datepicker>
         *      </div>
         * </body>
         * <script>
         *  var vue = new Vue({
         *      el: '#app',
         *      components: {
         *       'datepicker': myDatepicker,
         *      },
         *      data: {
         *          startDate: '',
         *          arrays:[{date:''},{date:''}]
         *      }
         * });
         * /script>
         */ 

        var myDatepicker = {
            // props 屬性外部使用-符號，內部使用小駝峰命名
            props: ["show-week", "date-format", "min-date", "max-date", "value"],
            template: '<input type="text" :id="datepickerId" v-model="value" @click="clickDate" />',
            data: function () {
                return {
                    myDate: ''
                }
            },
            computed: {
                'datepickerId'() {
                    return this.generateUUID();
                }
            },
            watch: {
                'myDate'() {
                    this.sendToParent();
                }
            },
            methods: {
                /**
                 * 透過 My97Datepicker 取得日曆和時間
                 */
                clickDate: function() {
                    // WdatePicker 內的項目可能有其他 this，避免 this 被汙染
                    var _this = this;
                    WdatePicker({
                        enableInputMask: false,
                        isShowWeek: _this.showWeek || false,
                        dateFmt:_this.dateFormat || 'yyyy-MM-dd',
                        minDate:_this.minDate || '',
                        maxDate:_this.maxDate || '',
                        el: _this.datepickerId,
                        onpicked: function() {
                            _this.myDate = $dp.cal.getDateStr();
                        },
                        oncleared: function() {
                            _this.myDate = '';
                        },
                    });
                },
                /**
                 * 將 Datepicker 取得項目傳至主要 model
                 */
                sendToParent: function() {
                    this.$emit('input', this.myDate);
                },                
                /**
                 * 產生唯一碼 for 日期列的 id 值
                 * @returns {any}
                 */
                generateUUID: function() {
                    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                        return v.toString(16);
                    });
                }
            }
        };
</script>
<script>
        var childToParent = {
            template: '<div><input type="text" v-model="childVal" v-on:input="updateValue()"></div>',
            props: ['value2'],
            data: function () {
                return {
                    childVal: '123'
                }
            },
            methods: {
                updateValue: function (vale) {
                    //alert(this.childVal);
                    this.$emit('input', this.childVal);
                }
            }
        };



        var vue = new Vue({
            el: '#app',
            components: {
                'datepicker': myDatepicker,
                'child': childToParent
            },
            data: {
                parentValue: '',
                test: 'test2',
                date1: '',
                testDate: 'testDates',
                fors: [
                    { date: '沒有日期' },
                    { date: '沒有日期' },
                    { date: '沒有日期' },
                ],
                fors2: [
                    { date: 'A' },
                    { date: 'B' },
                    { date: 'C' },
                ]
            },
            methods: {
                clickDate(targetId, modelName) {
                    console.log(modelName);
                    var _this = this;
                    WdatePicker({
                        el: targetId,
                        isShowWeek: true,
                        autoPickDate: true,
                        enableInputMask: false,
                        onpicked() {
                            _this[modelName] = $dp.cal.getDateStr();
                        },
                        oncleared() {
                            _this[modelName] = '';
                        },
                    });
                },
                clickDate2(targetId, idx, modelName) {
                    var _this = this;
                    WdatePicker({
                        el: targetId,
                        isShowWeek: true,
                        onpicked() {
                            _this.fors[idx][modelName] = $dp.cal.getDateStr();
                        },
                        oncleared() {
                            _this.fors[idx][modelName] = '';
                        },
                    });
                }
            }
        });  
    </script>
</body>

</html>
